<div class="movie-cards">
  <a
    *ngFor="let movie of movies"
    [routerLink]="['/movie', movie.id]"
    class="animate__animated animate__bounce animate__fadeIn"
  >
    <mat-card class="movie-card">
      <img
        mat-card-image
        [src]="getMoviePosterUrl(movie.poster_path)"
        alt="Poster of {{ movie.title }}"
      />
      <mat-card-header class="header">
        <mat-card-title>{{ movie.title }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p class="overview" #overview>{{ movie.overview }}</p>
      </mat-card-content>

      <mat-card-footer class="footer">
        <p><strong>Rating:</strong> {{ movie.vote_average }}</p>
      </mat-card-footer>
    </mat-card>
  </a>
</div>
